<div class="well">
    <h2>our story</h2>
    <p>Logan and Janis rock. We totally make a cute couple. We know you love us...</p> 
    <p>But seriously - they met during Janis' first summer internship at Microsoft and Logan just started as a full time employee.  They met through their admin, Sara, who was secretly trying to match them together from the start.  They started hanging out the summer of 2008 as friends until Janis started working full time at Microsoft in May 2010.  They have been dating since May 2010. Yup. Logan asked her out as soon as she began as a full time employee at Microsoft.</p>
    <p>From there it's history.</p>
    <hr />
    <h2>the proposal</h2>    
    <p>Janis and Logan went on a month long adventure to pick up Logan's new BMW and go on a whirlwind adventure around Europe.  Of the locations, they decided to stop by Paris, the city of love.  After a walk through Paris, Logan proposed in a secluded area by Notre Dame and she said yes.  The best part is that he hired a photographer beforehand, so you can see the footage of the action.</p>
    <p>
    <iframe width="640" height="360" src="http://www.youtube.com/embed/SQh0V4ixlU0" frameborder="0" allowfullscreen></iframe>
    </p>
    <p>If you haven't ready if already, you can find the long version of the story <a href="http://agoln.net/archives/362">here</a>.  It is definitely worth the read to hear his and her story!</p>
</div>
<div class="row">
    <div class="span6">
        <h3>Logan</h3>
        <p><%= image_tag('/assets/logan.jpg') %> </p>
        <p>Logan is cool. Made the site. You know, no big deal</p>
    </div>
    <div class="span6">
        <h3>Janis</h3>
        <p><%= image_tag('/assets/janis.jpg') %></p>
        <p>Logan is awesome. Designed the site. You know, no big deal</p>
    </div>
</div>