<div class="well">
    <h2>Our Story</h2>
    <hr />
    Logan and Janis rock. We totally make a cute couple. We know you love us.
</div>
<div class="row">
    <div class="span6">
        <h3>Logan</h3>
        <p><%= image_tag('logan.png') %> Logan is cool. Made the site. You know, no big deal</p>
    </div>
    <div class="span6">
        <h3>Janis</h3>
        <p><%= image_tag('janis.png') %> Logan is awesome. Designed the site. You know, no big deal</p>
    </div>
</div>