<div class="well">
    <h2>our story</h2>
    <p>Logan and Janis rock. We totally make a cute couple. We know you love us. But seriously - they met during Janis' first summer internship at Microsoft and Logan just started full time.  They met through their admin, Sara, who was secretly trying to match them together from the start.  They started hanging out the summer of 2008 until Janis started working full time at Microsoft in May 2010.  They have been dating since May 2010. Yup. Logan asked her out as soon as she began a full time employee at Microsoft. From there it's history.</p>
</div>
<div class="well">
    <h2>the proposal</h2>    
    <p>Janis and Logan went on a month long adventure to pick up Logan's new BMW and go on a whirlwind adventure around Europe.  Of the locations, they decided to stop by Paris, the city of love.  After a walk through Paris, Logan proposed in a secluded area by Notre Dame and she said yes.  The best part is that he hired a photographer beforehand, so you can see the footage of the action.</p>  
    <p>If you haven't ready if already, you can find the long version of the story <a href="http://agoln.net/archives/362">here</a>.  It is definitely worth the read to hear his and her story!</p>
    <p>You can find a movie of the photographs that were taken <a href="http://agoln.net/archives/372">here</a>.</p>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="well">
            <h3>Logan James Buesching</h3>
            <p><%= image_tag('/assets/logan.jpg') %> </p>
            <p>Logan grew up in Fort Wayne, Indiana. He studied Computer Science at Purdue University.</p>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3>Janis Jungeun Lee</h3>
            <p><%= image_tag('/assets/janis.jpg') %></p>
            <p>Janis was born in Chicago, raised Korean.  She studied Computer Engineering at the University of Illinois -  Urbana Champaign, expecting to go into consulting.  After two internships in Seattle with Microsoft, she quickly changed her career to become an program manager.  After protecting children from porn and other malicious sites on Windows Live Family Safety, she changed teams to work on an  innovative, design-centric team - Windows Phone as a design program manager.  Soon, she will be Mrs. Buesching. Eep!</p>
        </div>
    </div>
</div>