<div class="span1"></div>
<div class="span10">
    <div class="well">
        <h1>wedding details</h1>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="well">        
                <h2><i class="icon-heart"></i>exchanging the vows</h2>
                <p>The ceremony will be at 2 in the afternoon:</p>
                <h3>Hanmee Presbyterian Church</h3>
                <p>1149 W Bloomingdale Road</p>
                <p>Itasca, IL 60143</p>
                <iframe width="420" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1149+W+Bloomingdale+Road+Itasca,+IL+60143&amp;ie=UTF8&amp;hq=&amp;hnear=1149+W+Bloomingdale+Rd,+Itasca,+DuPage,+Illinois+60143&amp;gl=us&amp;t=m&amp;ll=41.95949,-88.030701&amp;spn=0.306361,0.411987&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=1149+W+Bloomingdale+Road+Itasca,+IL+60143&amp;ie=UTF8&amp;hq=&amp;hnear=1149+W+Bloomingdale+Rd,+Itasca,+DuPage,+Illinois+60143&amp;gl=us&amp;t=m&amp;ll=41.95949,-88.030701&amp;spn=0.306361,0.411987&amp;z=10&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
        <div class="span6">
            <div class="well">
                <h2><i class="icon-glass"></i>celebrating the newly weds</h2>
                <p>Reception to follow at half past 5 in the afternoon:</p>
                <h3>Crowne Plaze - Northbrook</h3>
                <p>2875 Milwaukee Avenue</p>
                <p>Northbrook, IL 60062</p>
                <iframe width="420" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2875+Milwaukee+Avenue++Northbrook,+IL+60062&amp;aq=&amp;sll=41.959745,-88.030465&amp;sspn=0.014026,0.033023&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=2875+Milwaukee+Ave,+Northbrook,+Illinois+60062&amp;t=m&amp;ll=42.101279,-87.883759&amp;spn=0.305678,0.411987&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2875+Milwaukee+Avenue++Northbrook,+IL+60062&amp;aq=&amp;sll=41.959745,-88.030465&amp;sspn=0.014026,0.033023&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=2875+Milwaukee+Ave,+Northbrook,+Illinois+60062&amp;t=m&amp;ll=42.101279,-87.883759&amp;spn=0.305678,0.411987&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
        <div class="span12" style="margin-left: 0px">
            <div class="well">
                <h2>directions</h2>
                <iframe width="930" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=1149+W+Bloomingdale+Road++Itasca,+IL+60143&amp;daddr=2875+Milwaukee+Avenue++Northbrook,+IL+60062&amp;hl=en&amp;geocode=FUFBgAId_8LA-ikl_0TjlK0PiDF7S_XxzDB_xg%3BFThoggIdXgHD-imzNzKe97gPiDG2jysCCyb8rQ&amp;aq=&amp;sll=41.962043,-88.024457&amp;sspn=0.014025,0.033023&amp;gl=us&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=42.029914,-87.957916&amp;spn=0.489635,0.878906&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=1149+W+Bloomingdale+Road++Itasca,+IL+60143&amp;daddr=2875+Milwaukee+Avenue++Northbrook,+IL+60062&amp;hl=en&amp;geocode=FUFBgAId_8LA-ikl_0TjlK0PiDF7S_XxzDB_xg%3BFThoggIdXgHD-imzNzKe97gPiDG2jysCCyb8rQ&amp;aq=&amp;sll=41.962043,-88.024457&amp;sspn=0.014025,0.033023&amp;gl=us&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=42.029914,-87.957916&amp;spn=0.489635,0.878906&amp;z=10" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
    </div>
</div>