<div class="span1"></div>
<div class="span10">
    <div class="well">
        <h1>wedding details</h1>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="well">        
                <h2><i class="icon-heart"></i>exchanging the vows</h2>
                <p>The ceremony will start 4 o'clock in the afternoon at:</p>
                <h3>Hanmee Presbyterian Church</h3>
                <p>1149 W Bloomingdale Road</p>
                <p>Itasca, IL 60143</p>
            </div>
        </div>
        <div class="span6">
            <div class="well">
                <h2><i class="icon-glass"></i>celebrating the newly weds</h2>
                <p>Reception to follow at:</p>
                <h3>Crowne Plaze - Northbrook</h3>
                <p>2875 Milwaukee Avenue</p>
                <p>Northbrook, IL 60062</p>
            </div>
        </div>
    </div>
</div>