<h1>The Wedding</h1>
<div class="row">
    <div class="span4">
        <h2><i class="icon-heart"></i>Ceremony</h2>
        <h3>Hanmee Presbyterian Church</h3>
        <p>1149 W Bloomingdale Road</p>
        <p>Itasca, IL 60143</p>
        <hr />
        <h2><i class="icon-glass"></i>Reception</h2>
        <h3>Crowne Plaze - Northbrook</h3>
        <p>2875 Milwaukee Avenue</p>
        <p>Northbrook, IL 60062</p>
    </div>
    <div class="span4">
        <h2><i class="icon-star"></i>Wedding Party</h2>
        <p>We have great friends. They rock</p>
        <h4>Bridesmaids</h4>
        <ol>
            <li><h5>Patricia Hendricks</h5><%= image_tag('pat.png') %><p>She's cool.</p></li>
        </ol>
        <h4>Groomsmen</h4>
        <ol>
            <li><h5>Landon Buesching</h5><%= image_tag('landon.png') %><p>He's got a big dog.</p></li>
        </ol>
        <h4>Ring Bearer</h4>
        <p>A kid</p>
        <h4>Flower Girl</h4>
        <p>Little girl</p>
    </div>
    <div class="span4">
        <h2><i class="icon-home"></i>Accommodations</h2>
        <%= @wedding_info.accomidation %>
        <hr/>
        <h2>Travel</h2>
        <h4><i class="icon-road"></i>By Car</h4>
        <p>Drive</p>
        <h4><i class="icon-plane"></i>By Flight</h4>
        <p>Go to ORD</p>
    </div>
</div>