<div class="span1"></div>
<div class="span10">
	<div class="well">
		<h1>registry</h1>
		<p>Since we are away, we prefer the gifts to be delivered to our home in Kirkland. We are registered at the following:</p>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<button class="amazon" type="btn"><%=link_to('http://www.amazon.com/gp/registry/registry.html?type=wedding&id=79QVT7DSAIV0&tag=wedch-994-20')%></button>
		</div>
		<div class="span6">
			<button class="target" type="btn"><%=link_to('http://www.target.com/wedd/registry/NUESeb38GmplOEwfEnYECw')%></button>
		</div>
	</div>
</div>