<div class="span1"></div>
<div class="span10">
	<div class="well">
		<h1>registry</h1>
		<p>Since we are away, we prefer the gifts to be delivered to our home in Kirkland. We are registered at the following:</p>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= link_to "http://www.amazon.com/gp/registry/registry.html?type=wedding&id=79QVT7DSAIV0&tag=wedch-994-20" do 
				image_tag('/assets/amazon.jpg') 
				end 
				%>
		</div>
        <div class="span6">
            <%= link_to "https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541072488&eventType=Wedding" do
              image_tag('/assets/logo_bbb.png')
            end
            %>
        </div>
	</div>
</div>