<div class="well">
	<h1>registry</h1>
	<p>We are registered at the following locations:</p>
</div>
<div class="row-fluid">
	<div class="span8">
		<h2>amazon</h2>
		<h2>hobby lobby</h2>
		<h2>honey pot</h2>
	</div>
</div>