/* Common */
$baseFontSize: 16px;

/* Colors */
$lightGray: #EFEFEF; 
$gray: #3B3B3B;
$darkGray:#4EA0A7;
$lightBlue: #9ED6FF;
$blue: #00539F;
$orange:#FF881A;
$lightOrange:#FFA857;
$yellow:#FFFB1A;

$white: #FFFFFF;

$background:  url(/assets/background.png) repeat;
$baseLineHeight: 18px;
$baseFontSize: 14px;


/* Header */
$header_background_color: $blue;
$header_link_text_color: $lightOrange;
$header_link_text_shadow_color: $orange;
$header_link_hover_color: $lightGray;

/* Padding */
$paddingXS: 4px;
$paddingS: 8px; 
$paddingM: 10px;
$paddingL: 20px;
$paddingXL: 40px;