html, body {
    height: 100%;
	font-family: 'Domine', serif;
    background: $background;
}

/****************************
Overwriting Twitter Bootstrap
*****************************/
h1, h2, h3 {
    font-family: 'Clicker Script', cursive;
}

h3 i {
    margin-top: $paddingM;
}


/****************************
Navbar
*****************************/
.navbar{
    padding-bottom:$paddingL;
}

.navbar .nav > li > a {
  float: none;
  padding: 12px 15px 12px;
  color: $header_link_text_color;
  text-decoration: none;
  text-shadow: -1px 0 0 $header_link_text_shadow_color;
}

.navbar-inner {
    padding-left:  0px;
    padding-right: 0px;
    @include border-radius(0px);
    background-color: $header_background_color;
}

.navbar .nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
}

.navbar-footer .nav > li:first-child > a {
    padding-left: 0px;
}

.nav-collapse .nav > li > a {
    font-weight: normal;
}


/****************************
Carousel
*****************************/
.carousel {
    margin-bottom: 0;
    .carousel-caption {
        h2 {
            color: $lightOrange;
        }
    }
    margin-bottom:$paddingXL;
}

#featured-carousel {
    @media (max-width: 767px) {
        display: none;
    }
}


/****************************
Carousel
*****************************/
.registry{
    padding: 0px;
    margin: 0px;
    height: 122px;
    width: 300px; 
}
.amazon{   
    @extend .registry;
    background: url(amazon.jpg) no-repeat;
}
.target{
    @extend .registry;
    background: url(target.gif) no-repeat;
   
}
