html, body {
    height: 100%;
	font-family: 'Domine', serif;
    background-color: $blue;
}

.navbar{
    padding-bottom:$paddingL;
}
h1, h2, h3 {
    font-family: 'Clicker Script', cursive;
}

h3 i {
    margin-top: $paddingM;
}


.carousel {
    margin-bottom: 0;
    .carousel-caption {
        h2 {
            color: $white;
        }
    }
}

#featured-carousel {
    @media (max-width: 767px) {
        display: none;
    }
}
